* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    max-width: 1920px;
}

#menu {
    width: 100%;
    height: 100px;
    background-color: #2c2f73;
    display: flex;
    align-items: center;
}

#menu select, #menu button {
    margin-left: 20px;
    padding: 10px;
    background-color: #4d52bd;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    color: white;
}

#menu input {
    margin-left: 20px;
    padding: 10px;
    border-radius: 15px;
    border: none;
}

canvas {
    display: block;
    margin: auto;
    overflow: scroll;
}

#menu div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}